ES_LOCAL_URL=http://localhost:9200
ES_LOCAL_USERNAME=elastic
ES_LOCAL_PASSWORD=changeme
APP_INDEX_NAME=demo_personalized_docs
APP_INTERACTIONS_PATH=data/sample_interactions.jsonl
FLASK_ENV=development
